@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
  --parrot-yellow: #F8D13C;
  --parrot-red: #EC5A3E;
  --parrot-light-blue: #84CED7;
  --parrot-blue: #425EA9;
  --parrot-dark-blue: #344799;
  --parrot-orange: #F0AD2C;
}

$parrot-blue: #425EA9;
$font-fredoka: 'Fredoka One';

main {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  background: none;
  width: 400px;
  height: 400px;
  font-size: 16px;
  border-radius: .25emrem;
  font-family: 'Source Sans Pro';
}

body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro';
}

header {
  background-color: #3d82b4;
  display: flex;
  flex-direction: column;
  width: 100%;
  img {
    color: #fff;
    height: 30px;
    width: 30px;
  }
}

h1 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  width: 100%;
  font-family: 'Fredoka One';
  /* letter-spacing: 2px; */
  font-size: 3em;
  /* color: #ffe269; */
  color: white;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}

nav {
  // display: flex;
  // flex-flow: row wrap;
  // font-size: 1.1em;
}


#root > section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  // padding: 1rem;
}

// #pickerLink, #pickerView {
// }

// #recorderLink, #recorderView {
// }

// #testsLink, #testsView {
// }

.loading-page {
  background-color: #3d82b4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    height: fit-content;
    width: fit-content;
  }
  p {
    font-family: 'Fredoka One';
    color: #fff;
    font-size: 1.2rem;
  }
}

.loading-container {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 30px;
  width: 250px;
}

.loading-bar {
  animation: load 5s normal forwards;
  border-radius: 100px;
  background: var(--parrot-yellow);
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 5; }
  100% { width: 100%; }
}

.wrong-tab-page {
  display: flex;
  flex-direction: column;
  background-color: #344799;
  justify-content: center;
  align-items: center;
  p {
    font-size: 1.2rem;
    color: #fff;
    font-family: $font-fredoka;
    text-align: center;
  }
  button {
    height: 30px;
    width: 280px;
    border: 1px white solid;
    border-radius: .25rem;
    color: #fff;
    background-color: #84CED7;
    margin: 8px;
    font-size: 1.1em;
  }
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: #161a31;
}


::-webkit-scrollbar-thumb {
  background: #f06d06;
  border-radius: .25rem;
}

::-webkit-scrollbar-corner {
  background: #161a31;
}

button.export, button.icon {
  cursor: pointer;
  background: none;
  border: none;
}

.hov {
  &:hover {
    filter: brightness(1.1);
  }
  &:active {
    filter: brightness(0.9);
  }
}

.nav-buttons {
  $icon-width: 1.4em;
  font-size: 1.2em;

  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  button {
    &.next::before, &.back::after {
      content: '';
      width: $icon-width;
    }
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    font-size: 1.25em;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    padding: 0.25em 0;

    .icon {
      height: $icon-width;
      width: $icon-width;
    }

    &[disabled] .icon {
      filter: opacity(0.25);
    }
  }
}

#testsView {
  position: relative;
  
  .icon {
    position: absolute;
    z-index: 50;

    &.copy {
      bottom: 0.5rem;
      right: 0.5rem;
      filter: invert(0.9);
    }
  }
}