@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --light_teal: #EDF8F9;
  --teal: #84CED7;
  --light-blue: #DADFEE;
  --light-gray-blue: #EBF1F4;
  --med-blue: #236ce1;
  --dark-blue: #344799;
  --yellow: #F8D13D;
  --med-yellow: #F0AD2B;
  --orange:  #EC5A3E;
  --dark-gray: #212121;
  --med-gray: #303030;
  --light-gray: #424242;
}

$light_teal: #EDF8F9;
$teal: #84CED7;
$light-blue: #DADFEE;
$med-blue: #236ce1;
$dark-blue: #344799;
$yellow: #F8D13D;
$med-yellow: #F0AD2B;
$orange:  #EC5A3E;
$dark-gray: #212121;
$med-gray: #303030;
$light-gray: #424242;

$font-mont: 'Montserrat Alternates', sans-serif;
$font-poppins: 'Poppins';

main {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  background: none;
  width: 400px;
  height: 400px;
  font-size: 16px;
  font-family: $font-poppins;
  color: #fff;
}

body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: $font-poppins;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

#root > section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: $med-gray;
}

header {
  display: flex;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  background-color: #000000;
  justify-content: center;
  align-items: center;
  width: 100%;

  h1 {
    margin: 0;
    padding: 0.4rem;
    font-family: $font-mont;
    letter-spacing: -2px; 
    font-size: 3em;
    font-weight: 500;
    font-style: italic;
    color: #fff;
  }
}

.loading-page {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    height: fit-content;
    width: fit-content;
  }
  p {
    font-family: $font-poppins;
    color: #fff;
    font-size: 1.2rem;
  }
}

.loading-container {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 30px;
  width: 250px;
}

.loading-bar {
  animation: load 5s normal forwards;
  border-radius: 100px;
  background: var(--yellow);
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 5; }
  100% { width: 100%; }
}

.wrong-tab-page {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  p {
    font-size: 1.2rem;
    color: #fff;
    font-family: $font-poppins;
    text-align: center;
  }
  button {
    height: 30px;
    width: 280px;
    border: 1px white solid;
    border-radius: .25rem;
    color: #fff;
    background-color: $med-blue;
    margin: 8px;
    font-size: 1.1em;
  }
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: #161a31;
}


::-webkit-scrollbar-thumb {
  background: #f06d06;
  border-radius: .25rem;
}

::-webkit-scrollbar-corner {
  background: #161a31;
}

button.export, button.icon {
  cursor: pointer;
  background: none;
  border: none;
}

.hov {
  &:hover {
    filter: brightness(1.1);
  }
  &:active {
    filter: brightness(0.9);
  }
}

.nav-buttons {
  $icon-width: 1.4em;
  font-size: 1.2em;

  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background-color: $med-gray;

  button {
    &.next::before, &.back::after {
      content: '';
      width: $icon-width;
    }
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 2.25%;
    border: none;
    font-size: 1em;
    font-family: $font-poppins;
    font-weight: bold;
    padding: 0.5em 0;
    text-transform: uppercase;
    background-color: $med-blue;
    color: #fff;

    .icon {
      height: $icon-width;
      width: $icon-width;
    }

    &[disabled] .icon {
      filter: opacity(0.25);
    }

    &[disabled] {
      color: #878787;
      background-color: $light-gray;
    }
  }
}

#testsView {
  position: relative;
  
  .icon {
    position: absolute;
    z-index: 50;

    &.copy {
      bottom: 0.5rem;
      right: 0.5rem;
      filter: invert(0.9);
    }
  }
}

.scroll-list {
  padding-left: 0px;
  max-height: 300px;
  overflow: auto;
  width: 95%;
  // font-family: monospace;

  li {
    color: #fff;
    padding: 0.5em;
    list-style: none;
    line-height: 1.5em;
    border-bottom: 3px solid $med-gray;
    background-color: $light-gray;
  }
}

.actionBtns {
  width: 100%;
  background-color: $dark-gray;
  padding: 1em;
}

.add-button {
  height: 40px;
  width: 40px;
  background: $med-yellow;
  border-radius: 50%;
  color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 40%);
  border: 0px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  cursor: pointer;

  :hover {
    background: $yellow;
    border: 0px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
}