@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --extra-light-teal: #EDF8F9;
  --light-teal: #84CED7;
  --med-teal: #27adbe;
  --light-blue: #DADFEE;
  --light-gray-blue: #EBF1F4;
  --med-blue: #5270e1;
  --dark-blue: #344799;
  --yellow: #F8D13D;
  --med-yellow: #F0AD2B;
  --orange:  #EC5A3E;
  --peach: #ff866f;
  --dark-gray: #212121;
  --med-gray: #303030;
  --light-gray: #424242;
  --extra-light-gray: #878787;
}

$extra-light-teal: #EDF8F9;
$light-teal: #84CED7;
$med-teal: #27adbe;
$light-blue: #DADFEE;
$med-blue: #5270e1;
$dark-blue: #344799;
$yellow: #F8D13D;
$med-yellow: #F0AD2B;
$orange:  #EC5A3E;
$peach: #ff866f;
$dark-gray: #212121;
$med-gray: #303030;
$light-gray: #424242;
$extra-light-gray: #878787;
$light-gray-blue: #EBF1F4;

$font-mont: 'Montserrat Alternates', sans-serif;
$font-poppins: 'Poppins';

main {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  background: none;
  width: 400px;
  font-size: 16px;
  font-family: $font-poppins;
  color: #fff;
  background-image: url('././img/parroteer-layered-waves-bg.png');
  background-position: center;
}

body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro';
}

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  // max-height: 400px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

#root > section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  // background-color: $med-gray;
}

header {
  display: flex;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  // background-color: $med-gray;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5em 0em 0.5em 1em;
  background-color: rgb(33 33 33 / 47%);

  h1 {
    margin: 0;
    font-family: $font-mont;
    letter-spacing: -1px; 
    font-size: 2.5em;
    font-weight: 600;
    font-style: italic;
    color: #fff;
  }
}

/* Loader component */

.loading-page {
  background-color: #424242;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    height: fit-content;
    width: fit-content;
  }
  p {
    font-family: $font-poppins;
    color: #fff;
    font-size: 1.2rem;
  }
}

.loading-container {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 30px;
  width: 250px;
}

.loading-bar {
  animation: load 5s normal forwards;
  border-radius: 100px;
  background: var(--yellow);
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 5; }
  100% { width: 100%; }
}

/* Wrong tab component */

.wrong-tab-page {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
 
  p {
    font-size: 1.2em;
    color: #fff;
    font-family: $font-poppins;
    text-align: center;
  }

  button {
    border: none;
    color: #fff;
    font-size: 1.2em;
    padding: 9px;
    margin: 0.5em;
    width: 85%;
  }

  .findTab-btn {
    background-color: $med-blue;
  }

  .endTabSession-btn {
    background-color: $orange;
  }

  .wrongTab-wrapper {
    background-color: #303030;
    padding: 1em 2em;
    margin: 0 2.5em 1.5em 2.5em;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 1.3em;
}


// ::-webkit-scrollbar:horizontal {
//   width: 1em;
// }

// ::-webkit-scrollbar:vertical {
//   width: 1em;
// }

// ::-webkit-scrollbar-track {
//   background: $med-gray;
// }

::-webkit-scrollbar-thumb {
  background: $light-gray-blue;
}

::-webkit-scrollbar-corner {
  background: rgb(255 255 255 / 0%);
}

/* Scroll list component */

.scroll-list {
  max-height: 300px;
  min-height: 300px;
  margin: 0;
  padding: .5em 0;
  overflow: auto;
  overflow-y: auto;
  white-space: nowrap;
  width: 95%;
  background-color: rgb(40 40 40 / 61%);

  li {
    color: #fff;
    padding: 0.5em;
    list-style: none;
    line-height: 1.5em;
    // border-bottom: 3px solid 3px solid rgb(0 0 0 / 31%);
    background-color: #42424273;
    margin: 0.3em 1em;
  }
}

/* Buttons */

header {
  button {
    margin-left: auto;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer!important;
 };

 .material-symbols-outlined {
  font-size: 2em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

 .nav-buttons {
  $icon-width: 1.4em;
  font-size: 1.2em;

  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  // background-color: $med-gray;

  button {
    &.next::before, &.back::after {
      content: '';
      width: $icon-width;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 2.25%;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-family: $font-poppins;
    font-weight: bold;
    padding: 0.5em 0;
    text-transform: uppercase;
    background-color: $dark-blue;
    background-size: 300% 100%;
    color: #fff;

    .icon {
      height: $icon-width;
      width: $icon-width;
    }

    &[disabled] {
      color: rgb(130 130 130 / 61%);
      background-color: #232323a3;
    }

  }
}

.nav-buttons button:hover {
  background-color: $med-blue;
  transition: all .2s ease-out;
}

.nav-buttons button[disabled]:hover {
  background-color: #232323a3;
}

.actionBtns {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #212121c7;
  padding: .5em .5em .5em 1.5em;
  margin-bottom: 1em;
}

.add-btn {
  height: 1.3em;
  width: 1.3em;
  font-size:2em;
  background: $med-yellow;
  border-radius: 50%;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  z-index: 5;
  display: flex;
  box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 40%);
  border: 0px;
  transition: all .2s ease-out;
}

.add-btn:hover {
  background: $yellow;
  border: 0px;
  transform: scale(1.1);
  transition: all .2s ease-out;
}

.add-icon {
  font-size: 1em;
  color: #fff;
  font-variation-settings: 'wght' 600;
}

.export-btn {
  height: 2.5em;
  width: 2.5em;
  background: $med-teal;
  border-radius: 50%;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  z-index: 5;
  display: flex;
  box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 40%);
  border: 0px;
  transition: all .2s ease-out;
}

.export-btn:hover {
  background: $light-teal;
  border: 0px;
  transform: scale(1.1);
  transition: all .2s ease-out;
}

.export-icon {
  font-size: 1.7em;
  color: #fff;
  font-variation-settings: 'wght' 600;
 }

 #testsView {
  position: relative;
  .copy-btn {
    height: 2.5em;
    width: 2.5em;
    background: #27adbe;
    border-radius: 50%;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    z-index: 5;
    display: flex;
    box-shadow: 0px 2px 10px 0pxrgba(0,0,0,.4);
    border: 0px;
    transition: all .2s ease-out;
    bottom: 2em;
    right: 1.5em;
    position: absolute;
    z-index: 50;
  }
  
  .copy-btn:hover {
    background: $light-teal;
    border: 0px;
    transform: scale(1.1);
    transition: all .2s ease-out;
  }
  
  .copy-icon {
    font-size: 1.7em;
    color: #fff;
    font-variation-settings: 'wght' 600;
   }

}

.record-icon {
  color: $orange;
  font-size: 3em;
  transition: all .2s ease-out;
 }

.record-icon:hover  {
  transform: scale(1.1);
  transition: all .2s ease-out;
}

.pause-icon {
  color: $yellow;
  font-size: 3em;
  transition: all .2s ease-out;
 }

 .pause-icon:hover  {
  transform: scale(1.1);
  transition: all .2s ease-out;
}

 .stop-icon {
  color: $med-yellow;
  font-size: 3em;
  transition: all .2s ease-out;
 }

 .stop-icon:hover  {
  transform: scale(1.1);
  transition: all .2s ease-out;
}

 .play-icon {
  color: $light-teal;
  transition: all .2s ease-out;
}

.play-icon:hover {
  transform: scale(1.1);
  transition: all .2s ease-out;
}

 .restart-icon {
  color: #fff;
  font-size: 2.5em;
 }

 .next-icon {
  color: #fff;
  font-size: 1.5em;
 }

 .back-icon {
  font-size: 1.5em;
 }

 .actionBtns p {
  font-size: 1.3em;
  margin-left: 1em;
 }

 .logo-icon {
  transform: scaleX(-1);
  width: 40px;
 }

 #recorderView .actionBtns {
  padding-left: .5em;
 }

 #recorderView .actionBtns p {
  margin-left: .5em;
 }

 /* CodeMirror theme */

 .ͼ1c {
  color: $med-yellow;
}

.ͼ1a {
  color: $peach;
}

.ͼ15 .cm-gutters {
  background-color: #282a36;
  color: $light-gray;
}